

<app-menu></app-menu>

<router-outlet></router-outlet>





<<!-- div class="text-layout">
    <h1> {{ nombre | titlecase }} </h1>  
    <h2> {{ valor | number }} </h2>
    <h2> {{ obj | json }} </h2>   
</div>


<button pButton 
            (click)="mostrarNombre()"
            label="Cambiar Nombre"
            icon="pi pi-check"
            iconPos="right"
            class="p-button-help"></button>


<p-card [header]="nombre | titlecase "
        subheader="esto es un subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nobis eius fugiat. Maxime quaerat, dolores provident asperiores eveniet sequi ullam quas debitis nesciunt nobis, soluta eligendi repellendus magnam officia ad!
</p-card>
 -->